# Eat Safe, Love

## Notebook Set Up

In [23]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [24]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [25]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [26]:
# review the collections in our database
collection_names = db.list_collection_names()

# print out the collection
for collection_name in collection_names:
    print(collection_name)

establishments

In [27]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [41]:
# Import dependencies
from pprint import pprint

# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}

# Use count_documents to display the number of documents in the result
count = db["establishments"].count_documents(query)
pprint({"Number of documents with hygiene_score equal to 20": count})

# Display the first document in the results using pprint
first_document = db["establishments"].find_one(query)
print("First document with hygiene score 20:")
pprint(first_document)

# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(list(db["establishments"].find(query)))

# Print the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(result_df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(result_df.head(10))

{'Number of documents with hygiene_score equal to 20': 0}
First document with hygiene score 20:
None
Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

In [42]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame((establishments.find(query)))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(10)

Number of rows in the DataFrame: 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [43]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex':'London'}, 'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
print("Number of documents with London as Local Authority and RatingValue >= 4:", count)

# Display the first document in the results using pprint
first_document = establishments.find_one(query)
print("First document with London as Local Authority and RatingValue >= 4:")
pprint(first_document)

Number of documents with London as Local Authority and RatingValue >= 4: 0
First document with London as Local Authority and RatingValue >= 4:
None

In [44]:
import pandas as pd

# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(list(establishments.find(query)))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(result_df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(result_df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [45]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

establishments.find_one({"BusinessName": "Penang Flavours"})



degree_search = 0.01
latitude = 51.490142
longitude = 0.08384

penang = {'RatingValue': '5', 
         'geocode.latitude': {'$lte': (latitude + degree_search), '$gte': (latitude - degree_search)}, 
         'geocode.longitude': {'$lte': (longitude + degree_search), '$gte': (longitude - degree_search)} 
         }
sort =  [('scores.Hygiene', 1)]

# Print the results
for result in establishments.find(penang).sort(sort).limit(5):
    pprint(result)
# Print the results

In [46]:
# Convert result to Pandas DataFrame
pd.DataFrame(establishments.find(penang).sort(sort).limit(5))

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [40]:
# Starter Code Instructions
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Code to Fulfill Instructions

pipeline = [
    {"$match": {"scores.Hygiene": 0}},
    {"$group": {"_id": "$LocalAuthorityName", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
]

result = list(db['establishments'].aggregate(pipeline))

print("Number of documents in the result:", len(result))

# Print the first 10 results
print("First 10 results:")
for i, document in enumerate(result[:10]):
    print(f"{i+1}. {document}")

Number of documents in the result: 0
First 10 results:

In [35]:
# Convert the result to a Pandas DataFrame
agg_df = pd.json_normalize(result)

# Display the number of rows in the DataFrame
print(f"There are {len(agg_df)} rows in the DataFrame.")

# Display the first 10 rows of the DataFrame
agg_df.head(10)

There are 0 rows in the DataFrame.

Empty DataFrame
Columns: []
Index: []